name: Deploy app to Cloudflare Pages

on:
  schedule:
    - cron: "0 15 * * 1-5" # Mon-Fri @ 15:00 UTC (11:00 AM EDT, 10:00 AM EST)

  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - run: |
          curl "https://api.cloudflare.com/client/v4/accounts/$CLOUDFLARE_ACCOUNT_ID/pages/projects/$CLOUDFLARE_PROJECT_NAME/deployments" \
            -H "Content-Type: multipart/form-data" \
            -H "Authorization: Bearer $CLOUDFLARE_API_TOKEN" \
            -F branch=main
        env:
          CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          CLOUDFLARE_PROJECT_NAME: ${{ vars.CLOUDFLARE_PROJECT_NAME }}
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
